<div class="row">
    <div class="span7 box">
        <h1>You have successfully listed an item!</h1>
        <div class="swell">
            <p>BikeRental is a demo to secure data on a rails ecommerce app. You are now able
                to secure sensitive data before it ever touches your server.</p>
            <p>Start integrating by visiting
                <a href="https://www.verygoodsecurity.com">verygoodsecurity.com</a></p>
        </div>
    </div>
</div>

