<div class="row">
    <div class="span7 box">
        <h1>You have successfully confirmed a rental</h1>
        <div class="swell">
            <p>BikeRental is a demo ecommerce site for securing data via VGS. You are now able
                to take sensitive data without the hassle of securing it yoursself.</p>
            <p>Start integrating by visiting
                <a href="https://www.verygoodsecurity.com">verygoodsecurity.com</a></p>
        </div>
    </div>
</div>
